
html {
    position: relative;
    min-height: 100%;
}

.navbar-inverse .navbar-header .navbar-brand {
    color: #8bc34a;
}

body {
    padding-top: 50px;
    margin-bottom: 220px;
    font-family: 'Open Sans', sans-serif;
}

.jumbotron {
    background: #8bc34a;
    color: #ffffff;
}

.marketing {
    padding-top: 20px;
}

.marketing .btn:hover {
    background: #8bc34a;
    color: white;
}

.marketing .col-lg-4 {
    margin-bottom: 20px;
    text-align: center;
}
.marketing h2 {
    font-weight: normal;
}
.marketing .col-lg-4 p {
    margin-right: 10px;
    margin-left: 10px;
}

.featurette-divider {
    margin: 80px 0; /* Space out the Bootstrap <hr> more */
}

/* Thin out the marketing headings */
.featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -1px;
}

.marketing .playstore img {
    padding-bottom: 80px;
}


.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 220px;
    background: #222222;
    color: #8a8a8a;
}

#footer-social {
    margin-top: 20px;
}

#footer-social .btn-social-icon {
    font-size: 300%;
    color: white;
}

#footer-message{
    padding-top: 30px;
    margin-left: 10px;
    margin-right: 10px;
}

.thumbnail {
    border: none;
}
.thumbnail img {
    max-width: 50%;
    height: auto;
}