<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.faudroids.mrhyde" >

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:name=".app.MrHydeApp"
        android:theme="@style/AppTheme" >

        <activity
            android:name=".ui.LoginActivity"
            android:theme="@style/LoginTheme"
            android:label="@string/app_name"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.MainDrawerActivity"
            android:theme="@style/DrawerTheme"
            />
        <activity
            android:name=".ui.RepoOverviewActivity"
            android:theme="@style/AppTheme.Overlay"
            />
        <activity
            android:name=".ui.PostsActivity"
            />
        <activity
            android:name=".ui.DraftsActivity"
            />
        <activity
            android:name=".ui.DirActivity"
            />
        <activity
            android:name=".ui.TextEditorActivity"
            />
        <activity
            android:name=".ui.ImageViewerActivity"
            />
        <activity
            android:name=".ui.CommitActivity"
            />
        <activity
            android:name=".ui.PreviewActivity"
            />
        <activity
            android:name=".ui.SelectRepoActivity"
            />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="d24b6175dc50a0705e30d49f9f580ca61cbddbed" />
        <meta-data
            android:name="roboguice.annotations.packages"
            android:value="roboguice,org.faudroids.mrhyde"
            />
    </application>

</manifest>
